@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
	--font-outfit: 'Outfit', sans-serif;
}

@layer utilities {
	::-webkit-scrollbar {
		width: 5px;
		height: 10px;
	}
	::-webkit-scrollbar-track {
		border-radius: 100vh;
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		background: #ffffff;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #d1d5dc;
	}
}
